*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Monrope", sans-serif;
  overflow-x: hidden;
}

.heading-large {
  font-size: 8rem;
  font-weight: 600;
  font-family: "Fraunces", serif;
  color: #fff;
  line-height: 1;
}
@media (max-width: 50em) {
  .heading-large {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .heading-large {
    font-size: 5.6rem;
  }
}

.heading-medium {
  font-size: 5.6rem;
  font-weight: 600;
  font-family: "Fraunces", serif;
}
@media (max-width: 50em) {
  .heading-medium {
    font-size: 4rem;
  }
}

.heading-small {
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "Fraunces", serif;
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  font-family: "Manrope", sans-serif;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;
}

.header {
  text-align: center;
  height: 73rem;
  z-index: 5;
  position: relative;
}
@media (max-width: 37.5em) {
  .header {
    height: 68rem;
  }
}
.header .container {
  padding: 0 12rem;
}
@media (max-width: 43.75em) {
  .header .container {
    padding: 0 6rem;
  }
}
@media (max-width: 37.5em) {
  .header .container {
    padding: 0 2rem;
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #24053e;
  border-radius: 50%;
  transform-origin: bottom;
  transform: scale(4);
  z-index: -1;
}
.header__img-box {
  max-height: 40rem;
  max-width: 77rem;
  margin: 0 auto;
}
.header__img {
  width: 100%;
}
@media (max-width: 75em) {
  .header__img {
    transform: scale(0.8);
  }
}
@media (max-width: 50em) {
  .header__img {
    transform: scale(0.9);
  }
}
@media (max-width: 37.5em) {
  .header__img {
    margin-top: 8rem;
    transform: scale(1);
  }
}
.header .shape-1 {
  position: absolute;
  top: 20%;
  left: -6%;
}
@media (max-width: 75em) {
  .header .shape-1 {
    transform: scale(0.8);
    left: -10%;
  }
}
@media (max-width: 62.5em) {
  .header .shape-1 {
    transform: scale(0.7);
    left: -20%;
  }
}
@media (max-width: 43.75em) {
  .header .shape-1 {
    transform: scale(0.7);
    left: -30%;
  }
}
@media (max-width: 37.5em) {
  .header .shape-1 {
    display: none;
  }
}
.header .shape-2 {
  position: absolute;
  top: 45%;
  right: -2%;
}
@media (max-width: 75em) {
  .header .shape-2 {
    transform: scale(0.8);
    right: -6%;
  }
}
@media (max-width: 62.5em) {
  .header .shape-2 {
    transform: scale(0.7);
    right: -10%;
  }
}
@media (max-width: 37.5em) {
  .header .shape-2 {
    display: none;
  }
}

.details {
  z-index: 4;
  position: relative;
  color: #24053e;
  height: 80rem;
}
@media (max-width: 37.5em) {
  .details {
    height: 124rem;
  }
}
.details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fcf8ff;
  border-radius: 50%;
  transform-origin: bottom;
  transform: scale(4);
  z-index: -1;
}
.details .container {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}
@media (max-width: 75em) {
  .details .container {
    padding: 0 4rem;
  }
}
@media (max-width: 50em) {
  .details .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about .container {
  padding: 10rem 12rem;
  position: relative;
}
@media (max-width: 75em) {
  .about .container {
    padding: 8rem 4rem;
  }
}
.about .founder {
  max-height: 40rem;
  max-width: 40rem;
  position: absolute;
}
.about .founder__img {
  height: 100%;
  width: 100%;
}
@media (max-width: 50em) {
  .about .founder {
    max-height: 25rem;
    max-width: 25rem;
  }
}
@media (max-width: 37.5em) {
  .about .founder {
    left: 50%;
    transform: translateX(-50%);
  }
}
.about .about-text {
  background-color: #24053e;
  padding: 6rem;
  color: #fff;
  width: 60%;
  margin-left: 36rem;
  margin-top: 14rem;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
@media (max-width: 75em) {
  .about .about-text {
    padding: 4rem;
  }
}
@media (max-width: 50em) {
  .about .about-text {
    width: 77%;
    margin-left: 16rem;
  }
}
@media (max-width: 37.5em) {
  .about .about-text {
    text-align: center;
    padding: 4rem 2rem;
    width: 100%;
    margin-left: 0;
    margin-top: 18rem;
  }
}
.about .about-text .shape-3 {
  position: absolute;
  bottom: -18%;
  right: 10%;
}
@media (max-width: 50em) {
  .about .about-text .shape-3 {
    bottom: -38%;
  }
}
@media (max-width: 37.5em) {
  .about .about-text .shape-3 {
    display: none;
  }
}

.footer {
  text-align: center;
  padding: 4rem;
}
.footer .social-icons {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.footer .social-icons > * {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #584d62;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.footer .social-icons > *:hover {
  background-color: #24053e;
}
.footer .social-icons__facebook {
  -webkit-mask-image: url(/src/assets/images/icon-facebook.svg);
  mask-image: url(/src/assets/images/icon-facebook.svg);
}
.footer .social-icons__twitter {
  -webkit-mask-image: url(/src/assets/images/icon-twitter.svg);
  mask-image: url(/src/assets/images/icon-twitter.svg);
}
.footer .social-icons__instagram {
  -webkit-mask-image: url(/src/assets/images/icon-instagram.svg);
  mask-image: url(/src/assets/images/icon-instagram.svg);
}

.btn--inline:link, .btn--inline:visited {
  display: inline-block;
  color: #fff;
  border-bottom: 2px solid #44ffa1;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}
.btn--inline:hover, .btn--inline:active {
  color: #44ffa1;
}

.btn--green:link, .btn--green:visited {
  color: #24053e;
  display: inline-block;
  background-color: #44ffa1;
  padding: 1.5rem 3rem;
  border: 1px solid #44ffa1;
  text-decoration: none;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}
.btn--green:hover, .btn--green:active {
  background-color: transparent;
  color: #44ffa1;
}

.underline--green {
  position: relative;
  z-index: 2;
}
.underline--green::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background-color: #44ffa1;
  height: 2px;
  z-index: 4;
}

.card {
  text-align: center;
  padding: 3rem;
  margin-top: 25rem;
  flex: 1;
}
.card__number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  border: 1px solid #24053e;
  margin: 0 auto;
}
.card__number {
  font-family: "Fraunces", serif;
  font-size: 2.4rem;
}
.card__heading {
  margin-top: 5rem;
}
.card__text {
  margin-top: 3rem;
}
@media (max-width: 50em) {
  .card {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    align-items: center;
    justify-items: start;
  }
  .card:first-child {
    margin-top: 14rem;
  }
  .card__number-box {
    grid-row: 1/3;
  }
  .card__heading {
    margin-top: 0;
  }
  .card__text {
    grid-column: 2;
    text-align: left;
    margin-top: 2rem;
  }
}
@media (max-width: 37.5em) {
  .card {
    justify-items: center;
  }
  .card:first-child {
    margin-top: 12rem;
  }
  .card__number-box {
    grid-row: 1;
    margin-bottom: 4rem;
  }
  .card__heading {
    grid-row: 2;
  }
  .card__text {
    grid-row: 3;
    grid-column: 1;
  }
}

.mg-bottom-xs {
  margin-bottom: 2.5rem;
}

.mg-bottom-sm {
  margin-bottom: 4rem;
}

.mg-top-lg {
  margin-top: 8rem;
}

/*# sourceMappingURL=style.css.map */
