.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
.navbar {
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;
}
.header {
  text-align: center;
  height: 73rem;
  z-index: 5;
  position: relative;

  .container {
    padding: 0 12rem;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $purple;
    border-radius: 50%;
    transform-origin: bottom;
    transform: scale(4);
    z-index: -1;
  }
  &__img-box {
    height: 40rem;
    width: 77rem;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
  }
}

.details {
  z-index: 4;
  position: relative;
  color: $purple;
  height: 67rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $light-purple;
    border-radius: 50%;
    transform-origin: bottom;
    transform: scale(4);
    z-index: -1;
  }
  .container {
    display: flex;
    justify-content: space-around;
    padding: 0 12rem;
  }

  .card {
    margin-top: 22rem;
  }
}
.about {
  .container {
    padding: 10rem 12rem;
    position: relative;
  }
  .founder {
    height: 40rem;
    width: 40rem;
    position: absolute;
    &__img {
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  .about-text {
    background-color: $purple;
    padding: 6rem;
    color: $white;
    width: 60%;
    margin-left: 36rem;
    margin-top: 14rem;
    z-index: 2;
    position: relative;
    &__heading {
      margin-bottom: 4rem;
    }
    &__paragraph {
      margin-bottom: 2.5rem;
    }
  }
}

.footer {
  text-align: center;
  padding: 4rem;

  .social-icons {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;

    & * {
      width: 2rem;
      height: 2rem;
      background-color: $greyish-purple;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transition: all 300ms;
      cursor: pointer;

      &:hover {
        background-color: $purple;
      }
    }

    &__facebook {
      -webkit-mask-image: url(/src/assets/images/icon-facebook.svg);
      mask-image: url(/src/assets/images/icon-facebook.svg);
    }
    &__twitter {
      -webkit-mask-image: url(/src/assets/images/icon-twitter.svg);
      mask-image: url(/src/assets/images/icon-twitter.svg);
    }
    &__instagram {
      -webkit-mask-image: url(/src/assets/images/icon-instagram.svg);
      mask-image: url(/src/assets/images/icon-instagram.svg);
    }
  }
}
